/*------------------------------------*\
#BASIC
\*------------------------------------*/



/**
 * Definitions for basic HTML elements
 */

*,
*:before,
*:after {
 box-sizing: border-box;
}



/**
 * Links
 */

a {
    text-decoration: none;

    color: $anchor-font-color;

    @include single-transition(color);

    &:hover {
        color: $anchor-font-color-hover;
    }
}
