/*------------------------------------*\
#GLOBAL-SETTINGS
\*------------------------------------*/



/**
 * Fonts
 */

$font-family: (
	primary: ('Open Sans', sans-serif),
	secondary: ('Open Sans', sans-serif)
);

$font-weight: (
	normal: 300,
	bold: 700
);




/**
 * Basic Colors
 */

$anchor-color: #9ECBFF;



/**
 * Page elements
 */

$footer: (
	bg: #102034,
	color: #fff
);
